# dependencies
node_modules/*

# misc
*.pyc
*.ipynb_checkpoints
experiments/
data/raw/*
backend/.pixi
data/open_data/*
!data/open_data/communes-50m.parquet
!data/open_data/summary_maternity_capacity.csv
!data/open_data/summary_maternity_labours.csv

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store



