# dependencies
frontend/node_modules/

# production build
build/

# misc
backend/data/open_data/communes-france.csv
*.pyc
*.png
*.zip
*.ipynb_checkpoints
frontend/node_modules/*
frontend/node_modules_bak/*
node_modules/*
backend/data/raw/*
experiments/*.jsons
experiments/*.csv
experiments/pub/*
experiments/jobs*
docs/*.pdf 
docs/*.html
docs/.quarto/
docs/**/*.quarto_ipynb
docs/_site/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.ipynb

backend/data/legacy/raw_*
# Mac system files
.DS_Store
# pixi environments
.pixi/*
!.pixi/config.toml
